name: Run Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      run: make install

    - name: Run tests with coverage
      run: |
        make coverage
        .venv/bin/python -m coverage xml
      env:
        ENV: "dev"
        DEV_TOKEN: ${{ secrets.DEV_TOKEN }}
        KEY_WEATHER: ${{ secrets.KEY_WEATHER }}
        KEY_OPEN_AI: ${{ secrets.KEY_OPEN_AI }}

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}